{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- SEO Meta Tags -->
<meta name="description" content="{% block meta_description %}Afèpanou - Marketplace haïtien pour la croissance économique locale. Découvrez et achetez des produits authentiques haïtiens.{% endblock %}">
<meta name="keywords" content="{% block meta_keywords %}Haiti, marketplace, e-commerce, produits haïtiens, MonCash, économie locale{% endblock %}">
<meta name="author" content="Afèpanou">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:title" content="{% block og_title %}{% block title %}Afèpanou - Croissance Économique Locale{% endblock %}{% endblock %}">
<meta property="og:description" content="{% block og_description %}{{ block.super }}{% endblock %}">
<meta property="og:image" content="{% block og_image %}{% static 'images/afepanou-og-image.jpg' %}{% endblock %}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ request.build_absolute_uri }}">
<meta property="twitter:title" content="{% block twitter_title %}{{ block.super }}{% endblock %}">
<meta property="twitter:description" content="{% block twitter_description %}{{ block.super }}{% endblock %}">
<meta property="twitter:image" content="{% block twitter_image %}{{ block.super }}{% endblock %}">

<!-- Favicon -->
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">

<!-- Preconnect for performance -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>